
  <div id="myModal" class="modal" (click)="closeModal($event);" role="dialog" style="display: block; position: absolute;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #c56666; font-weight: bold;">Edit Contact</h4>
        </div>
        <div class="modal-body">
          
          <form class="edit-form">
            <div class="input-group form-group row" >
              <label class="col-md-6 col-xs-6 col-sm-6">Name:</label>
              <input name="abc1" [(ngModel)]="name" type="text" class="form-control col-md-6 col-xs-6 col-sm-6 username-input" placeholder="name">
            </div>
            <div class="input-group form-group row">
              <label class="col-md-6 col-xs-6 col-sm-6">Designation:</label>
              <input name="abc2" [(ngModel)]="designation" type="text" class="form-control col-md-6 col-xs-6 col-sm-6" placeholder="designation">
            </div>
            <div class="input-group form-group row">
              <label class="col-md-6 col-xs-6 col-sm-6">Email:</label>
              <input name="abc3" [(ngModel)]="email" type="text" class="form-control col-md-6 col-xs-6 col-sm-6" placeholder="email">
            </div>
            <div class="input-group form-group row">
              <label class="col-md-6 col-xs-6 col-sm-6">age:</label>
              <input name="abc4" [(ngModel)]="age" type="text" class="form-control col-md-6 col-xs-6 col-sm-6" placeholder="age">
            </div>
            <div class="input-group form-group row">
              <label class="col-md-6 col-xs-6 col-sm-6">Phone number:</label>
              <input name="abc5" [(ngModel)]="phone_number" type="text" class="form-control col-md-6 col-xs-6 col-sm-6" placeholder="phone_number">
            </div>
            <br/>

            <div class="row">
              <label class="col-md-4 col-xs-4 col-sm-4">status:</label>
              <select class="col-md-8" value="active" name="abc2" [(ngModel)]="status" class="">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>

            <br/>
            <br/>
          </form>

        </div>
        <div class="modal-footer">
          <input type="submit" value="Close" class="btn float-right" (click)="close();" style="margin-left: 10px;">
          <input type="submit" value="Delete" class="btn float-right" (click)="deleteContact();">
          <input style="margin-right: 10px;" type="submit" value="Save" class="btn float-right" (click)="editContact();">
        </div>
      </div>

    </div>
  </div>
