
  <div id="myModal" class="modal" role="dialog" (click)="closeModal($event);" style="display: block; position: absolute;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #c56666; font-weight: bold;">Add Group</h4>
        </div>
        <div class="modal-body">
          
          <form class="edit-form">
            <div class="input-group form-group" >
              <input name="abc1" [(ngModel)]="groupName" type="text" class="form-control" placeholder="group name">
            </div>

            <div class="input-group form-group">
              <input name="abc2" [(ngModel)]="description" type="text" class="form-control" placeholder="description">
            </div>

            <br/>

            <div class="row">
              <label class="col-md-4 col-xs-4 col-sm-4">status:</label>
              <select class="col-md-8" value="active" name="abc2" [(ngModel)]="status" class="">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>

            <br/>
            <br/>
          </form>

        </div>
        <div class="modal-footer">
          <input type="submit" value="Close" class="btn float-right" (click)="close();" style="margin-left: 10px;">
          <input type="submit" value="Add Group" class="btn float-right" (click)="addGroup();">
        </div>
      </div>

    </div>
  </div>
